@import '_variables_and_mixins.scss';

.default-ul, .default-ul > li {
  list-style: disc;
}

.card-shadow {
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
}

.link {
  display: inline-block;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  color: blue;
  transition: .15s;

  &:hover,
  &:focus {
    color: darken(blue, 10%);
  }
}

.not-link, .not-link:hover {
  color: inherit;
  text-decoration: inherit;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;

  picture, img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}


.br-1rem {
  border-radius: 1rem;
}
.br-2rem {
  border-radius: 2rem;
}
.br-3rem {
  border-radius: 3rem;
}
.br-4rem {
  border-radius: 4rem;
}
.br-5rem {
  border-radius: 5rem;
}


.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}
.fw-100im {
  font-weight: 100 !important;
}
.fw-200im {
  font-weight: 200 !important;
}
.fw-300im {
  font-weight: 300 !important;
}
.fw-400im {
  font-weight: 400 !important;
}
.fw-500im {
  font-weight: 500 !important;
}
.fw-600im {
  font-weight: 600 !important;
}
.fw-700im {
  font-weight: 700 !important;
}
.fw-800im {
  font-weight: 800 !important;
}
.fw-900im {
  font-weight: 900 !important;
}

.fz-0_5rem {
  font-size: .5rem;
}
.fz-0_6rem {
  font-size: .6rem;
}
.fz-0_7rem {
  font-size: .7rem;
}
.fz-0_8rem {
  font-size: .8rem;
}
.fz-0_9rem {
  font-size: .9rem;
}
.fz-1rem {
  font-size: 1rem;
}
.fz-1_1rem {
  font-size: 1.1rem;
}
.fz-1_2rem {
  font-size: 1.2rem;
}
.fz-1_3rem {
  font-size: 1.3rem;
}
.fz-1_5rem {
  font-size: 1.5rem;
}
.fz-1_7rem {
  font-size: 1.7rem;
}
.fz-1_8rem {
  font-size: 1.8rem;
}
.fz-2rem {
  font-size: 2rem;
}
.fz-2_5rem {
  font-size: 2.5rem;
}
.fz-3rem {
  font-size: 3rem;
}
.fz-3_5rem {
  font-size: 3.5rem;
}
.fz-4rem {
  font-size: 4rem;
}
.fz-5rem {
  font-size: 5rem;
}

@media (min-width: 576px) {
  .fz-sm-0_5rem {
    font-size: .5rem;
  }
  .fz-sm-0_6rem {
    font-size: .6rem;
  }
  .fz-sm-0_7rem {
    font-size: .7rem;
  }
  .fz-sm-0_8rem {
    font-size: .8rem;
  }
  .fz-sm-0_9rem {
    font-size: .9rem;
  }
  .fz-sm-1rem {
    font-size: 1rem;
  }
  .fz-sm-1_1rem {
    font-size: 1.1rem;
  }
  .fz-sm-1_2rem {
    font-size: 1.2rem;
  }
  .fz-sm-1_3rem {
    font-size: 1.3rem;
  }
  .fz-sm-1_5rem {
    font-size: 1.5rem;
  }
  .fz-sm-1_7rem {
    font-size: 1.7rem;
  }
  .fz-sm-1_8rem {
    font-size: 1.8rem;
  }
  .fz-sm-2rem {
    font-size: 2rem;
  }
  .fz-sm-2_5rem {
    font-size: 2.5rem;
  }
  .fz-sm-3rem {
    font-size: 3rem;
  }
  .fz-sm-3_5rem {
    font-size: 3.5rem;
  }
  .fz-sm-4rem {
    font-size: 4rem;
  }
  .fz-sm-5rem {
    font-size: 5rem;
  }
}

@media (min-width: 768px) {
  .fz-md-0_5rem {
    font-size: .5rem;
  }
  .fz-md-0_6rem {
    font-size: .6rem;
  }
  .fz-md-0_7rem {
    font-size: .7rem;
  }
  .fz-md-0_8rem {
    font-size: .8rem;
  }
  .fz-md-0_9rem {
    font-size: .9rem;
  }
  .fz-md-1rem {
    font-size: 1rem;
  }
  .fz-md-1_1rem {
    font-size: 1.1rem;
  }
  .fz-md-1_2rem {
    font-size: 1.2rem;
  }
  .fz-md-1_3rem {
    font-size: 1.3rem;
  }
  .fz-md-1_5rem {
    font-size: 1.5rem;
  }
  .fz-md-1_7rem {
    font-size: 1.7rem;
  }
  .fz-md-1_8rem {
    font-size: 1.8rem;
  }
  .fz-md-2rem {
    font-size: 2rem;
  }
  .fz-md-2_5rem {
    font-size: 2.5rem;
  }
  .fz-md-3rem {
    font-size: 3rem;
  }
  .fz-md-3_5rem {
    font-size: 3.5rem;
  }
  .fz-md-4rem {
    font-size: 4rem;
  }
  .fz-md-5rem {
    font-size: 5rem;
  }
}

@media (min-width: 992px) {
  .fz-lg-0_5rem {
    font-size: .5rem;
  }
  .fz-lg-0_6rem {
    font-size: .6rem;
  }
  .fz-lg-0_7rem {
    font-size: .7rem;
  }
  .fz-lg-0_8rem {
    font-size: .8rem;
  }
  .fz-lg-0_9rem {
    font-size: .9rem;
  }
  .fz-lg-1rem {
    font-size: 1rem;
  }
  .fz-lg-1_1rem {
    font-size: 1.1rem;
  }
  .fz-lg-1_2rem {
    font-size: 1.2rem;
  }
  .fz-lg-1_3rem {
    font-size: 1.3rem;
  }
  .fz-lg-1_5rem {
    font-size: 1.5rem;
  }
  .fz-lg-1_7rem {
    font-size: 1.7rem;
  }
  .fz-lg-1_8rem {
    font-size: 1.8rem;
  }
  .fz-lg-2rem {
    font-size: 2rem;
  }
  .fz-lg-2_5rem {
    font-size: 2.5rem;
  }
  .fz-lg-3rem {
    font-size: 3rem;
  }
  .fz-lg-3_5rem {
    font-size: 3.5rem;
  }
  .fz-lg-4rem {
    font-size: 4rem;
  }
  .fz-lg-5rem {
    font-size: 5rem;
  }
}

@media (min-width: 1200px) {
  .fz-xl-0_5rem {
    font-size: .5rem;
  }
  .fz-xl-0_6rem {
    font-size: .6rem;
  }
  .fz-xl-0_7rem {
    font-size: .7rem;
  }
  .fz-xl-0_8rem {
    font-size: .8rem;
  }
  .fz-xl-0_9rem {
    font-size: .9rem;
  }
  .fz-xl-1rem {
    font-size: 1rem;
  }
  .fz-xl-1_1rem {
    font-size: 1.1rem;
  }
  .fz-xl-1_2rem {
    font-size: 1.2rem;
  }
  .fz-xl-1_3rem {
    font-size: 1.3rem;
  }
  .fz-xl-1_5rem {
    font-size: 1.5rem;
  }
  .fz-xl-1_7rem {
    font-size: 1.7rem;
  }
  .fz-xl-1_8rem {
    font-size: 1.8rem;
  }
  .fz-xl-2rem {
    font-size: 2rem;
  }
  .fz-xl-2_5rem {
    font-size: 2.5rem;
  }
  .fz-xl-3rem {
    font-size: 3rem;
  }
  .fz-xl-3_5rem {
    font-size: 3.5rem;
  }
  .fz-xl-4rem {
    font-size: 4rem;
  }
  .fz-xl-5rem {
    font-size: 5rem;
  }
}

@media (min-width: 1400px) {
  .fz-xxl-0_5rem {
    font-size: .5rem;
  }
  .fz-xxl-0_6rem {
    font-size: .6rem;
  }
  .fz-xxl-0_7rem {
    font-size: .7rem;
  }
  .fz-xxl-0_8rem {
    font-size: .8rem;
  }
  .fz-xxl-0_9rem {
    font-size: .9rem;
  }
  .fz-xxl-1rem {
    font-size: 1rem;
  }
  .fz-xxl-1_1rem {
    font-size: 1.1rem;
  }
  .fz-xxl-1_2rem {
    font-size: 1.2rem;
  }
  .fz-xxl-1_3rem {
    font-size: 1.3rem;
  }
  .fz-xxl-1_5rem {
    font-size: 1.5rem;
  }
  .fz-xxl-1_7rem {
    font-size: 1.7rem;
  }
  .fz-xxl-1_8rem {
    font-size: 1.8rem;
  }
  .fz-xxl-2rem {
    font-size: 2rem;
  }
  .fz-xxl-2_5rem {
    font-size: 2.5rem;
  }
  .fz-xxl-3rem {
    font-size: 3rem;
  }
  .fz-xxl-3_5rem {
    font-size: 3.5rem;
  }
  .fz-xxl-4rem {
    font-size: 4rem;
  }
  .fz-xxl-5rem {
    font-size: 5rem;
  }
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.z-index-4 {
  z-index: 4;
}

.z-index-5 {
  z-index: 5;
}

.z-index-6 {
  z-index: 6;
}

.z-index-7 {
  z-index: 7;
}

.z-index-8 {
  z-index: 8;
}

.z-index-9 {
  z-index: 9;
}

.z-index-10 {
  z-index: 10;
}

.z-index-15 {
  z-index: 15;
}

.z-index-20 {
  z-index: 20;
}

.z-index-30 {
  z-index: 20;
}

.z-index-40 {
  z-index: 40;
}

.z-index-50 {
  z-index: 50;
}

.z-index-60 {
  z-index: 60;
}

.z-index-70 {
  z-index: 70;
}

.z-index-80 {
  z-index: 80;
}

.z-index-90 {
  z-index: 90;
}

.z-index-100 {
  z-index: 100;
}

.z-index-200 {
  z-index: 200;
}

.z-index-300 {
  z-index: 300;
}

.z-index-400 {
  z-index: 400;
}

.z-index-500 {
  z-index: 500;
}

.z-index-600 {
  z-index: 600;
}

.z-index-700 {
  z-index: 700;
}

.z-index-800 {
  z-index: 800;
}

.z-index-900 {
  z-index: 900;
}

.z-index-1000 {
  z-index: 1000;
}

.lh-0_1 {
  line-height: .1;
}
.lh-0_2 {
  line-height: .2;
}
.lh-0_3 {
  line-height: .3;
}
.lh-0_4 {
  line-height: .4;
}
.lh-0_5 {
  line-height: .5;
}
.lh-0_6 {
  line-height: .6;
}
.lh-0_7 {
  line-height: .7;
}
.lh-0_8 {
  line-height: .8;
}
.lh-0_9 {
  line-height: .9;
}
.lh-1 {
  line-height: 1;
}

.white-space-nowrap {
  white-space: nowrap;
}

.cursor-pointer {
  cursor: pointer;
}

.m-1rem {
  margin: 1rem;
}
.m-2rem {
  margin: 2rem;
}
.m-3rem {
  margin: 3rem;
}
.m-4rem {
  margin: 4rem;
}
.m-5rem {
  margin: 5rem;
}

.ml-1rem,
.mx-1rem {
  margin-left: 1rem;
}
.ml-2rem,
.mx-2rem {
  margin-left: 2rem;
}
.ml-3rem,
.mx-3rem {
  margin-left: 3rem;
}
.ml-4rem,
.mx-4rem {
  margin-left: 4rem;
}
.ml-5rem,
.mx-5rem {
  margin-left: 5rem;
}

.mr-1rem,
.mx-1rem {
  margin-right: 1rem;
}
.mr-2rem,
.mx-2rem {
  margin-right: 2rem;
}
.mr-3rem,
.mx-3rem {
  margin-right: 3rem;
}
.mr-4rem,
.mx-4rem {
  margin-right: 4rem;
}
.mr-5rem,
.mx-5rem {
  margin-right: 5rem;
}

.mt-1rem,
.my-1rem {
  margin-top: 1rem;
}
.mt-2rem,
.my-2rem {
  margin-top: 2rem;
}
.mt-3rem,
.my-3rem {
  margin-top: 3rem;
}
.mt-4rem,
.my-4rem {
  margin-top: 4rem;
}
.mt-5rem,
.my-5rem {
  margin-top: 5rem;
}

.mb-1rem,
.my-1rem {
  margin-bottom: 1rem;
}
.mb-2rem,
.my-2rem {
  margin-bottom: 2rem;
}
.mb-3rem,
.my-3rem {
  margin-bottom: 3rem;
}
.mb-4rem,
.my-4rem {
  margin-bottom: 4rem;
}
.mb-5rem,
.my-5rem {
  margin-bottom: 5rem;
}


@media (min-width: 576px) {
  .m-sm-1rem {
    margin: 1rem;
  }
  .m-sm-2rem {
    margin: 2rem;
  }
  .m-sm-3rem {
    margin: 3rem;
  }
  .m-sm-4rem {
    margin: 4rem;
  }
  .m-sm-5rem {
    margin: 5rem;
  }
  
  .ml-sm-1rem,
  .mx-sm-1rem {
    margin-left: 1rem;
  }
  .ml-sm-2rem,
  .mx-sm-2rem {
    margin-left: 2rem;
  }
  .ml-sm-3rem,
  .mx-sm-3rem {
    margin-left: 3rem;
  }
  .ml-sm-4rem,
  .mx-sm-4rem {
    margin-left: 4rem;
  }
  .ml-sm-5rem,
  .mx-sm-5rem {
    margin-left: 5rem;
  }
  
  .mr-sm-1rem,
  .mx-sm-1rem {
    margin-right: 1rem;
  }
  .mr-sm-2rem,
  .mx-sm-2rem {
    margin-right: 2rem;
  }
  .mr-sm-3rem,
  .mx-sm-3rem {
    margin-right: 3rem;
  }
  .mr-sm-4rem,
  .mx-sm-4rem {
    margin-right: 4rem;
  }
  .mr-sm-5rem,
  .mx-sm-5rem {
    margin-right: 5rem;
  }
  
  .mt-sm-1rem,
  .my-sm-1rem {
    margin-top: 1rem;
  }
  .mt-sm-2rem,
  .my-sm-2rem {
    margin-top: 2rem;
  }
  .mt-sm-3rem,
  .my-sm-3rem {
    margin-top: 3rem;
  }
  .mt-sm-4rem,
  .my-sm-4rem {
    margin-top: 4rem;
  }
  .mt-sm-5rem,
  .my-sm-5rem {
    margin-top: 5rem;
  }
  
  .mb-sm-1rem,
  .my-sm-1rem {
    margin-bottom: 1rem;
  }
  .mb-sm-2rem,
  .my-sm-2rem {
    margin-bottom: 2rem;
  }
  .mb-sm-3rem,
  .my-sm-3rem {
    margin-bottom: 3rem;
  }
  .mb-sm-4rem,
  .my-sm-4rem {
    margin-bottom: 4rem;
  }
  .mb-sm-5rem,
  .my-sm-5rem {
    margin-bottom: 5rem;
  }
}

@media (min-width: 768px) {
  .m-md-1rem {
    margin: 1rem;
  }
  .m-md-2rem {
    margin: 2rem;
  }
  .m-md-3rem {
    margin: 3rem;
  }
  .m-md-4rem {
    margin: 4rem;
  }
  .m-md-5rem {
    margin: 5rem;
  }
  
  .ml-md-1rem,
  .mx-md-1rem {
    margin-left: 1rem;
  }
  .ml-md-2rem,
  .mx-md-2rem {
    margin-left: 2rem;
  }
  .ml-md-3rem,
  .mx-md-3rem {
    margin-left: 3rem;
  }
  .ml-md-4rem,
  .mx-md-4rem {
    margin-left: 4rem;
  }
  .ml-md-5rem,
  .mx-md-5rem {
    margin-left: 5rem;
  }
  
  .mr-md-1rem,
  .mx-md-1rem {
    margin-right: 1rem;
  }
  .mr-md-2rem,
  .mx-md-2rem {
    margin-right: 2rem;
  }
  .mr-md-3rem,
  .mx-md-3rem {
    margin-right: 3rem;
  }
  .mr-md-4rem,
  .mx-md-4rem {
    margin-right: 4rem;
  }
  .mr-md-5rem,
  .mx-md-5rem {
    margin-right: 5rem;
  }
  
  .mt-md-1rem,
  .my-md-1rem {
    margin-top: 1rem;
  }
  .mt-md-2rem,
  .my-md-2rem {
    margin-top: 2rem;
  }
  .mt-md-3rem,
  .my-md-3rem {
    margin-top: 3rem;
  }
  .mt-md-4rem,
  .my-md-4rem {
    margin-top: 4rem;
  }
  .mt-md-5rem,
  .my-md-5rem {
    margin-top: 5rem;
  }
  
  .mb-md-1rem,
  .my-md-1rem {
    margin-bottom: 1rem;
  }
  .mb-md-2rem,
  .my-md-2rem {
    margin-bottom: 2rem;
  }
  .mb-md-3rem,
  .my-md-3rem {
    margin-bottom: 3rem;
  }
  .mb-md-4rem,
  .my-md-4rem {
    margin-bottom: 4rem;
  }
  .mb-md-5rem,
  .my-md-5rem {
    margin-bottom: 5rem;
  }
}

@media (min-width: 992px) {
  .m-lg-1rem {
    margin: 1rem;
  }
  .m-lg-2rem {
    margin: 2rem;
  }
  .m-lg-3rem {
    margin: 3rem;
  }
  .m-lg-4rem {
    margin: 4rem;
  }
  .m-lg-5rem {
    margin: 5rem;
  }
  
  .ml-lg-1rem,
  .mx-lg-1rem {
    margin-left: 1rem;
  }
  .ml-lg-2rem,
  .mx-lg-2rem {
    margin-left: 2rem;
  }
  .ml-lg-3rem,
  .mx-lg-3rem {
    margin-left: 3rem;
  }
  .ml-lg-4rem,
  .mx-lg-4rem {
    margin-left: 4rem;
  }
  .ml-lg-5rem,
  .mx-lg-5rem {
    margin-left: 5rem;
  }
  
  .mr-lg-1rem,
  .mx-lg-1rem {
    margin-right: 1rem;
  }
  .mr-lg-2rem,
  .mx-lg-2rem {
    margin-right: 2rem;
  }
  .mr-lg-3rem,
  .mx-lg-3rem {
    margin-right: 3rem;
  }
  .mr-lg-4rem,
  .mx-lg-4rem {
    margin-right: 4rem;
  }
  .mr-lg-5rem,
  .mx-lg-5rem {
    margin-right: 5rem;
  }
  
  .mt-lg-1rem,
  .my-lg-1rem {
    margin-top: 1rem;
  }
  .mt-lg-2rem,
  .my-lg-2rem {
    margin-top: 2rem;
  }
  .mt-lg-3rem,
  .my-lg-3rem {
    margin-top: 3rem;
  }
  .mt-lg-4rem,
  .my-lg-4rem {
    margin-top: 4rem;
  }
  .mt-lg-5rem,
  .my-lg-5rem {
    margin-top: 5rem;
  }
  
  .mb-lg-1rem,
  .my-lg-1rem {
    margin-bottom: 1rem;
  }
  .mb-lg-2rem,
  .my-lg-2rem {
    margin-bottom: 2rem;
  }
  .mb-lg-3rem,
  .my-lg-3rem {
    margin-bottom: 3rem;
  }
  .mb-lg-4rem,
  .my-lg-4rem {
    margin-bottom: 4rem;
  }
  .mb-lg-5rem,
  .my-lg-5rem {
    margin-bottom: 5rem;
  }
}

@media (min-width: 1200px) {
  .m-xl-1rem {
    margin: 1rem;
  }
  .m-xl-2rem {
    margin: 2rem;
  }
  .m-xl-3rem {
    margin: 3rem;
  }
  .m-xl-4rem {
    margin: 4rem;
  }
  .m-xl-5rem {
    margin: 5rem;
  }
  
  .ml-xl-1rem,
  .mx-xl-1rem {
    margin-left: 1rem;
  }
  .ml-xl-2rem,
  .mx-xl-2rem {
    margin-left: 2rem;
  }
  .ml-xl-3rem,
  .mx-xl-3rem {
    margin-left: 3rem;
  }
  .ml-xl-4rem,
  .mx-xl-4rem {
    margin-left: 4rem;
  }
  .ml-xl-5rem,
  .mx-xl-5rem {
    margin-left: 5rem;
  }
  
  .mr-xl-1rem,
  .mx-xl-1rem {
    margin-right: 1rem;
  }
  .mr-xl-2rem,
  .mx-xl-2rem {
    margin-right: 2rem;
  }
  .mr-xl-3rem,
  .mx-xl-3rem {
    margin-right: 3rem;
  }
  .mr-xl-4rem,
  .mx-xl-4rem {
    margin-right: 4rem;
  }
  .mr-xl-5rem,
  .mx-xl-5rem {
    margin-right: 5rem;
  }
  
  .mt-xl-1rem,
  .my-xl-1rem {
    margin-top: 1rem;
  }
  .mt-xl-2rem,
  .my-xl-2rem {
    margin-top: 2rem;
  }
  .mt-xl-3rem,
  .my-xl-3rem {
    margin-top: 3rem;
  }
  .mt-xl-4rem,
  .my-xl-4rem {
    margin-top: 4rem;
  }
  .mt-xl-5rem,
  .my-xl-5rem {
    margin-top: 5rem;
  }
  
  .mb-xl-1rem,
  .my-xl-1rem {
    margin-bottom: 1rem;
  }
  .mb-xl-2rem,
  .my-xl-2rem {
    margin-bottom: 2rem;
  }
  .mb-xl-3rem,
  .my-xl-3rem {
    margin-bottom: 3rem;
  }
  .mb-xl-4rem,
  .my-xl-4rem {
    margin-bottom: 4rem;
  }
  .mb-xl-5rem,
  .my-xl-5rem {
    margin-bottom: 5rem;
  }
}

@media (min-width: 1400px) {
  .m-xxl-1rem {
    margin: 1rem;
  }
  .m-xxl-2rem {
    margin: 2rem;
  }
  .m-xxl-3rem {
    margin: 3rem;
  }
  .m-xxl-4rem {
    margin: 4rem;
  }
  .m-xxl-5rem {
    margin: 5rem;
  }
  
  .ml-xxl-1rem,
  .mx-xxl-1rem {
    margin-left: 1rem;
  }
  .ml-xxl-2rem,
  .mx-xxl-2rem {
    margin-left: 2rem;
  }
  .ml-xxl-3rem,
  .mx-xxl-3rem {
    margin-left: 3rem;
  }
  .ml-xxl-4rem,
  .mx-xxl-4rem {
    margin-left: 4rem;
  }
  .ml-xxl-5rem,
  .mx-xxl-5rem {
    margin-left: 5rem;
  }
  
  .mr-xxl-1rem,
  .mx-xxl-1rem {
    margin-right: 1rem;
  }
  .mr-xxl-2rem,
  .mx-xxl-2rem {
    margin-right: 2rem;
  }
  .mr-xxl-3rem,
  .mx-xxl-3rem {
    margin-right: 3rem;
  }
  .mr-xxl-4rem,
  .mx-xxl-4rem {
    margin-right: 4rem;
  }
  .mr-xxl-5rem,
  .mx-xxl-5rem {
    margin-right: 5rem;
  }
  
  .mt-xxl-1rem,
  .my-xxl-1rem {
    margin-top: 1rem;
  }
  .mt-xxl-2rem,
  .my-xxl-2rem {
    margin-top: 2rem;
  }
  .mt-xxl-3rem,
  .my-xxl-3rem {
    margin-top: 3rem;
  }
  .mt-xxl-4rem,
  .my-xxl-4rem {
    margin-top: 4rem;
  }
  .mt-xxl-5rem,
  .my-xxl-5rem {
    margin-top: 5rem;
  }
  
  .mb-xxl-1rem,
  .my-xxl-1rem {
    margin-bottom: 1rem;
  }
  .mb-xxl-2rem,
  .my-xxl-2rem {
    margin-bottom: 2rem;
  }
  .mb-xxl-3rem,
  .my-xxl-3rem {
    margin-bottom: 3rem;
  }
  .mb-xxl-4rem,
  .my-xxl-4rem {
    margin-bottom: 4rem;
  }
  .mb-xxl-5rem,
  .my-xxl-5rem {
    margin-bottom: 5rem;
  }
}

.p-1rem {
  padding: 1rem;
}
.p-2rem {
  padding: 2rem;
}
.p-3rem {
  padding: 3rem;
}
.p-4rem {
  padding: 4rem;
}
.p-5rem {
  padding: 5rem;
}

.pl-1rem,
.px-1rem {
  padding-left: 1rem;
}
.pl-2rem,
.px-2rem {
  padding-left: 2rem;
}
.pl-3rem,
.px-3rem {
  padding-left: 3rem;
}
.pl-4rem,
.px-4rem {
  padding-left: 4rem;
}
.pl-5rem,
.px-5rem {
  padding-left: 5rem;
}

.pr-1rem,
.px-1rem {
  padding-right: 1rem;
}
.pr-2rem,
.px-2rem {
  padding-right: 2rem;
}
.pr-3rem,
.px-3rem {
  padding-right: 3rem;
}
.pr-4rem,
.px-4rem {
  padding-right: 4rem;
}
.pr-5rem,
.px-5rem {
  padding-right: 5rem;
}

.pt-1rem,
.py-1rem {
  padding-top: 1rem;
}
.pt-2rem,
.py-2rem {
  padding-top: 2rem;
}
.pt-3rem,
.py-3rem {
  padding-top: 3rem;
}
.pt-4rem,
.py-4rem {
  padding-top: 4rem;
}
.pt-5rem,
.py-5rem {
  padding-top: 5rem;
}

.pb-1rem,
.py-1rem {
  padding-bottom: 1rem;
}
.pb-2rem,
.py-2rem {
  padding-bottom: 2rem;
}
.pb-3rem,
.py-3rem {
  padding-bottom: 3rem;
}
.pb-4rem,
.py-4rem {
  padding-bottom: 4rem;
}
.pb-5rem,
.py-5rem {
  padding-bottom: 5rem;
}


@media (min-width: 576px) {
  .p-sm-1rem {
    padding: 1rem;
  }
  .p-sm-2rem {
    padding: 2rem;
  }
  .p-sm-3rem {
    padding: 3rem;
  }
  .p-sm-4rem {
    padding: 4rem;
  }
  .p-sm-5rem {
    padding: 5rem;
  }
  
  .pl-sm-1rem,
  .px-sm-1rem {
    padding-left: 1rem;
  }
  .pl-sm-2rem,
  .px-sm-2rem {
    padding-left: 2rem;
  }
  .pl-sm-3rem,
  .px-sm-3rem {
    padding-left: 3rem;
  }
  .pl-sm-4rem,
  .px-sm-4rem {
    padding-left: 4rem;
  }
  .pl-sm-5rem,
  .px-sm-5rem {
    padding-left: 5rem;
  }
  
  .pr-sm-1rem,
  .px-sm-1rem {
    padding-right: 1rem;
  }
  .pr-sm-2rem,
  .px-sm-2rem {
    padding-right: 2rem;
  }
  .pr-sm-3rem,
  .px-sm-3rem {
    padding-right: 3rem;
  }
  .pr-sm-4rem,
  .px-sm-4rem {
    padding-right: 4rem;
  }
  .pr-sm-5rem,
  .px-sm-5rem {
    padding-right: 5rem;
  }
  
  .pt-sm-1rem,
  .py-sm-1rem {
    padding-top: 1rem;
  }
  .pt-sm-2rem,
  .py-sm-2rem {
    padding-top: 2rem;
  }
  .pt-sm-3rem,
  .py-sm-3rem {
    padding-top: 3rem;
  }
  .pt-sm-4rem,
  .py-sm-4rem {
    padding-top: 4rem;
  }
  .pt-sm-5rem,
  .py-sm-5rem {
    padding-top: 5rem;
  }
  
  .pb-sm-1rem,
  .py-sm-1rem {
    padding-bottom: 1rem;
  }
  .pb-sm-2rem,
  .py-sm-2rem {
    padding-bottom: 2rem;
  }
  .pb-sm-3rem,
  .py-sm-3rem {
    padding-bottom: 3rem;
  }
  .pb-sm-4rem,
  .py-sm-4rem {
    padding-bottom: 4rem;
  }
  .pb-sm-5rem,
  .py-sm-5rem {
    padding-bottom: 5rem;
  }
}

@media (min-width: 768px) {
  .p-md-1rem {
    padding: 1rem;
  }
  .p-md-2rem {
    padding: 2rem;
  }
  .p-md-3rem {
    padding: 3rem;
  }
  .p-md-4rem {
    padding: 4rem;
  }
  .p-md-5rem {
    padding: 5rem;
  }
  
  .pl-md-1rem,
  .px-md-1rem {
    padding-left: 1rem;
  }
  .pl-md-2rem,
  .px-md-2rem {
    padding-left: 2rem;
  }
  .pl-md-3rem,
  .px-md-3rem {
    padding-left: 3rem;
  }
  .pl-md-4rem,
  .px-md-4rem {
    padding-left: 4rem;
  }
  .pl-md-5rem,
  .px-md-5rem {
    padding-left: 5rem;
  }
  
  .pr-md-1rem,
  .px-md-1rem {
    padding-right: 1rem;
  }
  .pr-md-2rem,
  .px-md-2rem {
    padding-right: 2rem;
  }
  .pr-md-3rem,
  .px-md-3rem {
    padding-right: 3rem;
  }
  .pr-md-4rem,
  .px-md-4rem {
    padding-right: 4rem;
  }
  .pr-md-5rem,
  .px-md-5rem {
    padding-right: 5rem;
  }
  
  .pt-md-1rem,
  .py-md-1rem {
    padding-top: 1rem;
  }
  .pt-md-2rem,
  .py-md-2rem {
    padding-top: 2rem;
  }
  .pt-md-3rem,
  .py-md-3rem {
    padding-top: 3rem;
  }
  .pt-md-4rem,
  .py-md-4rem {
    padding-top: 4rem;
  }
  .pt-md-5rem,
  .py-md-5rem {
    padding-top: 5rem;
  }
  
  .pb-md-1rem,
  .py-md-1rem {
    padding-bottom: 1rem;
  }
  .pb-md-2rem,
  .py-md-2rem {
    padding-bottom: 2rem;
  }
  .pb-md-3rem,
  .py-md-3rem {
    padding-bottom: 3rem;
  }
  .pb-md-4rem,
  .py-md-4rem {
    padding-bottom: 4rem;
  }
  .pb-md-5rem,
  .py-md-5rem {
    padding-bottom: 5rem;
  }
}

@media (min-width: 992px) {
  .p-lg-1rem {
    padding: 1rem;
  }
  .p-lg-2rem {
    padding: 2rem;
  }
  .p-lg-3rem {
    padding: 3rem;
  }
  .p-lg-4rem {
    padding: 4rem;
  }
  .p-lg-5rem {
    padding: 5rem;
  }
  
  .pl-lg-1rem,
  .px-lg-1rem {
    padding-left: 1rem;
  }
  .pl-lg-2rem,
  .px-lg-2rem {
    padding-left: 2rem;
  }
  .pl-lg-3rem,
  .px-lg-3rem {
    padding-left: 3rem;
  }
  .pl-lg-4rem,
  .px-lg-4rem {
    padding-left: 4rem;
  }
  .pl-lg-5rem,
  .px-lg-5rem {
    padding-left: 5rem;
  }
  
  .pr-lg-1rem,
  .px-lg-1rem {
    padding-right: 1rem;
  }
  .pr-lg-2rem,
  .px-lg-2rem {
    padding-right: 2rem;
  }
  .pr-lg-3rem,
  .px-lg-3rem {
    padding-right: 3rem;
  }
  .pr-lg-4rem,
  .px-lg-4rem {
    padding-right: 4rem;
  }
  .pr-lg-5rem,
  .px-lg-5rem {
    padding-right: 5rem;
  }
  
  .pt-lg-1rem,
  .py-lg-1rem {
    padding-top: 1rem;
  }
  .pt-lg-2rem,
  .py-lg-2rem {
    padding-top: 2rem;
  }
  .pt-lg-3rem,
  .py-lg-3rem {
    padding-top: 3rem;
  }
  .pt-lg-4rem,
  .py-lg-4rem {
    padding-top: 4rem;
  }
  .pt-lg-5rem,
  .py-lg-5rem {
    padding-top: 5rem;
  }
  
  .pb-lg-1rem,
  .py-lg-1rem {
    padding-bottom: 1rem;
  }
  .pb-lg-2rem,
  .py-lg-2rem {
    padding-bottom: 2rem;
  }
  .pb-lg-3rem,
  .py-lg-3rem {
    padding-bottom: 3rem;
  }
  .pb-lg-4rem,
  .py-lg-4rem {
    padding-bottom: 4rem;
  }
  .pb-lg-5rem,
  .py-lg-5rem {
    padding-bottom: 5rem;
  }
}

@media (min-width: 1200px) {
  .p-xl-1rem {
    padding: 1rem;
  }
  .p-xl-2rem {
    padding: 2rem;
  }
  .p-xl-3rem {
    padding: 3rem;
  }
  .p-xl-4rem {
    padding: 4rem;
  }
  .p-xl-5rem {
    padding: 5rem;
  }
  
  .pl-xl-1rem,
  .px-xl-1rem {
    padding-left: 1rem;
  }
  .pl-xl-2rem,
  .px-xl-2rem {
    padding-left: 2rem;
  }
  .pl-xl-3rem,
  .px-xl-3rem {
    padding-left: 3rem;
  }
  .pl-xl-4rem,
  .px-xl-4rem {
    padding-left: 4rem;
  }
  .pl-xl-5rem,
  .px-xl-5rem {
    padding-left: 5rem;
  }
  
  .pr-xl-1rem,
  .px-xl-1rem {
    padding-right: 1rem;
  }
  .pr-xl-2rem,
  .px-xl-2rem {
    padding-right: 2rem;
  }
  .pr-xl-3rem,
  .px-xl-3rem {
    padding-right: 3rem;
  }
  .pr-xl-4rem,
  .px-xl-4rem {
    padding-right: 4rem;
  }
  .pr-xl-5rem,
  .px-xl-5rem {
    padding-right: 5rem;
  }
  
  .pt-xl-1rem,
  .py-xl-1rem {
    padding-top: 1rem;
  }
  .pt-xl-2rem,
  .py-xl-2rem {
    padding-top: 2rem;
  }
  .pt-xl-3rem,
  .py-xl-3rem {
    padding-top: 3rem;
  }
  .pt-xl-4rem,
  .py-xl-4rem {
    padding-top: 4rem;
  }
  .pt-xl-5rem,
  .py-xl-5rem {
    padding-top: 5rem;
  }
  
  .pb-xl-1rem,
  .py-xl-1rem {
    padding-bottom: 1rem;
  }
  .pb-xl-2rem,
  .py-xl-2rem {
    padding-bottom: 2rem;
  }
  .pb-xl-3rem,
  .py-xl-3rem {
    padding-bottom: 3rem;
  }
  .pb-xl-4rem,
  .py-xl-4rem {
    padding-bottom: 4rem;
  }
  .pb-xl-5rem,
  .py-xl-5rem {
    padding-bottom: 5rem;
  }
}

@media (min-width: 1400px) {
  .p-xxl-1rem {
    padding: 1rem;
  }
  .p-xxl-2rem {
    padding: 2rem;
  }
  .p-xxl-3rem {
    padding: 3rem;
  }
  .p-xxl-4rem {
    padding: 4rem;
  }
  .p-xxl-5rem {
    padding: 5rem;
  }
  
  .pl-xxl-1rem,
  .px-xxl-1rem {
    padding-left: 1rem;
  }
  .pl-xxl-2rem,
  .px-xxl-2rem {
    padding-left: 2rem;
  }
  .pl-xxl-3rem,
  .px-xxl-3rem {
    padding-left: 3rem;
  }
  .pl-xxl-4rem,
  .px-xxl-4rem {
    padding-left: 4rem;
  }
  .pl-xxl-5rem,
  .px-xxl-5rem {
    padding-left: 5rem;
  }
  
  .pr-xxl-1rem,
  .px-xxl-1rem {
    padding-right: 1rem;
  }
  .pr-xxl-2rem,
  .px-xxl-2rem {
    padding-right: 2rem;
  }
  .pr-xxl-3rem,
  .px-xxl-3rem {
    padding-right: 3rem;
  }
  .pr-xxl-4rem,
  .px-xxl-4rem {
    padding-right: 4rem;
  }
  .pr-xxl-5rem,
  .px-xxl-5rem {
    padding-right: 5rem;
  }
  
  .pt-xxl-1rem,
  .py-xxl-1rem {
    padding-top: 1rem;
  }
  .pt-xxl-2rem,
  .py-xxl-2rem {
    padding-top: 2rem;
  }
  .pt-xxl-3rem,
  .py-xxl-3rem {
    padding-top: 3rem;
  }
  .pt-xxl-4rem,
  .py-xxl-4rem {
    padding-top: 4rem;
  }
  .pt-xxl-5rem,
  .py-xxl-5rem {
    padding-top: 5rem;
  }
  
  .pb-xxl-1rem,
  .py-xxl-1rem {
    padding-bottom: 1rem;
  }
  .pb-xxl-2rem,
  .py-xxl-2rem {
    padding-bottom: 2rem;
  }
  .pb-xxl-3rem,
  .py-xxl-3rem {
    padding-bottom: 3rem;
  }
  .pb-xxl-4rem,
  .py-xxl-4rem {
    padding-bottom: 4rem;
  }
  .pb-xxl-5rem,
  .py-xxl-5rem {
    padding-bottom: 5rem;
  }
}