body {
  font-size: 25px;
  display: flex;
}

span {
  font-size: 20px;

  @media (max-width: 767px) {
    font-size: 15px;
  }
}

div {
  font-size: 30px;
  background: url(../img/gory-nebo-priroda-23.jpg) 0 0 no-repeat;

  @media (max-width: 767px) {
    font-size: 20px;
  }
}